*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    
    
}

@import url('https://fonts.googleapis.com/css2?family= Rubik+Mono+One & display = swap');

body{
    background-image: linear-gradient(to right, rgba(86, 221, 52, 0.788), rgba(28, 220, 226, 0.842));
    font-family:'Rubik Mono One & display',sans-serif;
}

.navegacao{
    list-style: none;
    
}

#navegacao-menu{
    padding-left: 10px;
    padding-top: 10px;
    justify-content: space-around;
    display: flex;
    
}

#navegacao-menu li{
    border-left: 10px;
}

#navegacao-menu li a{
    text-decoration: none;
    color: #ffffff;
    display: inline-block;
    padding: 20px;
    font-weight: bolder;
}

#navegacao-menu li a:hover{
    background-color: #000000;
    border-radius: 80px;
}

#Info2{
    display: inline;
    font-size: 20px;
    color: #ffffff;
    
}

.info3{
    font-size: 50px;
}

#info{
    margin-top: 226px;
    display: block;
    text-align: center;
    color: rgb(0, 0, 0);
    
}